.btn-container {
  display: flex;
  gap: 8px;
}

.btn-container img {
  height: 65px;
  margin-right: 6px;
}

@media screen and (max-width: 484px) {
  .btn-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .btn-container img {
    height: 45px;
    margin: 0;
  }
}
