.hero-section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  padding: 0;
  /* margin-top: -20px; */
  /* background: #eeb319; */
  background-image: url(../../assets/hero.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .hero-img {
  width: 100%;
  height: 100vh;
} */

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.textbox h2 {
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 52px;
  line-height: 56px;
  color: 
  #042546;
  text-transform: none;
}

.textbox p {
  /* background: linear-gradient(
    270deg,
    rgba(217, 217, 217, 0.313) 0%,
    rgba(217, 217, 217, 0) 43.71%
  ); */
  width: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 30px;
}

.box {
  display: block;
  width: 400px;
  /* height: 500px; */
  background-color: #243432;
}

@media screen and (max-width: 400px) {
  .hero-section {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding: 0;
    margin-top: -20px;
    background-image: url(../../assets/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0  20px;
    width: 100%;
  }
  
  .textbox h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 38px;
    color: #000;
  }
  
  .textbox p {
    background: none;
    text-align: center;
    width: fit-content;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
    padding: 4px;
  }
}