.hero_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  margin-top: 4.5rem;
  padding: 5rem 5rem;
  background: #fafafa;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.textbox h2 {
  text-align: left;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #0e0e0e;
  text-transform: none;
}

.textbox p {
  width: fit-content;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 30px;
}

.hero_section .box {
  align-self: baseline;
  display: flex;
  width: 400px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.hero_section .box img {
  width: 100%;
}

@media screen and (max-width: 966px) {
  .hero_section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 1.5rem 2rem 1.5rem;
  }

  .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .textbox h2 {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    color: #000;
  }

  .textbox p {
    text-align: center;
    width: fit-content;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
    padding: 4px;
  }

  .hero_section .box {
    align-self: center;
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
}
