.diff {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 40px auto;
  padding: 20px;
  background: radial-gradient(
    80.66% 790.43% at 16.94% 32.83%,
    #042546 41.21%,
    rgba(18, 62, 106, 0.94) 67.81%,
    #042546 87.2%
  );
  box-shadow: inset 0px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #fff;
}

h4 {
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}

.diff .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.diff .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin: 20px 10px;
}

.item .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #b9b9b9;
}

.item h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
  /* text-align: center; */
}

.item p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.sec-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: #eeb319;
}

.sec-two h3 {
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #042546;
  margin: 20px 0;
}

@media screen and (max-width: 900px) {
  .diff {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: #042546;
  }

  .sec-two h3 {
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #042546;
    margin: 20px 0;
    text-align: center;
  }
}
