.diff {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 40px auto;
  padding: 30px 80px;
  color: #292929;
  background: #acd2f856;
  border-radius: 15px;
}

.diff h4 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
}

.diff .container {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
}


.diff .mobilecontainer {
  display: none;
}

.diff .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px 10px;
}

.item .icon img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  /* background-color: #b9b9b9; */
}

.item h6 {
  font-weight: 600;
  font-size: 16px;
  margin: 8px 0 15px;
}

.item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 40px;
  background: #000;
  color: #fff;
}

.stats h6 {
  font-size: 40px;
}

.sec__two {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 70px 80px;
  /* margin-top: 100px; */
  background-color: #eeb319;
}

.sec__two h3 {
  width: 60%;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #042546;
  margin: 30px 0;
}

.sec__two .mockup__img {
  position: absolute;
  width: 420px;
  height: 550px;
  bottom: -180px;
  right: 100px;
  z-index: 0;
  /* transform: rotate(15deg); */
}

@media screen and (max-width: 900px) {
  .diff {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    padding: 24px 24px;
  }

  .diff h4 {
    font-size: 24px;
    line-height: 30px;
  }

  .diff .container {
    display: none;
  }

  .diff .mobilecontainer {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px;
  }

  .diff .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 10px;
  }

  .sec__two {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 24px 0;
    margin-top: 100px;
    background-color: #eeb319;
    width: 100%;
  }

  .sec__two h3 {
    width: 100%;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #042546;
    margin: 20px 0;
    text-align: center;
  }

  .sec__two .mockup__img {
    position: relative;
    width: 100%;
    height: 650px;
    bottom: -100px;
    right: 0px;
    z-index: 0;
    transform: translateX(20px);
    margin: -60px 0 -50px;
  }
}
